---
title: Home
description: This is the description
image: https://source.unsplash.com/v0TEzpHANhY/2000x1322?a=.png
bottom_image: https://unsplash.it/2000/1322?a=.png
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">F I N D E R S</h1>
			<h1 class="editable">K E E P E R S</h1>
			<p class="subtext editable">Vintage Clothing & Records</p>
			<!--div class="cta button alt"><a href="#">Join Now</a></div-->
		</div>
	</div>
	<div class="learn-more"><a href="#learn-more">Learn more <span class="arrow">&#x25BC;</span></a></div>
</section>

<div class="content">
	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Apparel</h2>
				<p class="editable">Loads of fashionable, vintage clothing that are as unique as you.</p>
			</div>
			<div class="image">
				<img class="editable" src="https://source.unsplash.com/-Gj-4Ou9erI/800x1300" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Accessories</h2>
				<p class="editable">Complete a look with our one of a kind accessories.</p>
			</div>
			<div class="image">
				<img class="editable" src="https://source.unsplash.com/X0_MjAX5910/800x1300" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Records</h2>
				<p class="editable">Our award winning vinyl records collection is sure to offer something for all tastes.</p>
			</div>
			<div class="image">
				<img class="editable" src="https://source.unsplash.com/9Suzd3dpBH0/800x1300" alt="Screenshot" />
			</div>
		</div>
	</section>

	<!--section class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})"-->
		<section class="hero" style="background-image: url(https://source.unsplash.com/ycVFts5Ma4s);">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h2 class="editable">Find your style</h2>
				<!--p class="subtext editable">It's free, fun and an exciting way to meet new people.</p-->
				<div class="cta button alt"><a href="#">Visit Us</a></div>
			</div>
		</div>
	</section>
</div>
